<body>
<h1>NetID Converter</h1>
<h2>Please put in a list of NetIDs, separated by newlines.</h2>
    <form action="parse" method="post">
    <label>
        <p>NetIDs</p>
        <textarea name="inputlist" style="height:150px;"></textarea>
    </label>
    <input type="submit" name="submit" value="Convert From NetID">
    <input type="submit" name="submit" value="Convert From Email">
    </form>
</body>